.login-container {
    background: rgb(17, 17, 17);
    width: 970px;
    height: 585px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    visibility: visible;
}

.login-container.hide {
    visibility: hidden;
}

.login-container img {
    margin-top: 40px;
    height: 50px;
}

.digits-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.digits-container button {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    margin: 5px 4px;
    font-size: 22px;
    background: rgb(59, 59, 59);
    color: white;
    cursor: pointer;
}

.digits-container a.login-clear-button {
    padding: 20px 28.2px;
    border: none;
    border-radius: 50%;
    margin: 5px 4px;
    font-size: 22px;
    cursor: pointer;
    background: rgb(59, 59, 59);
    color: white;
}

.digits-container a.login-ok-button {
    padding: 20px 20.35px;
    border: none;
    border-radius: 50%;
    margin: 5px 4px;
    font-size: 22px;
    cursor: pointer;
    color: rgb(17, 17, 17);
    background: #f1f1f1;
}

.digits-container h2 {
    color: rgb(196, 195, 195);
    height: 25px;
}